
.header{
    width: auto;
    height: 70px;
    background-color: whitesmoke;
}

.topnav-right{
    position:absolute;
    right: 85px;
    top:20px;
}

.welcome{
    position:absolute;
    right:240px;
    top:25px;
}

.title{
    position: absolute;
    left: 95px;
    top: 20px;
}