
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainContent{
  border: 1px solid #000000;
  /* flex: 80%; */
  height:500px;   
  width: calc(100% - 300px);
}

.sideContent{
    width: 250px;
    border: 1px solid black;
    /* flex: 20%; */
    height: 500px;
}
* {
    box-sizing: border-box;
}
