* {
    box-sizing: border-box;
}

body{
    font-family: Arial;
    margin: 0;
}

.header{
    width: auto;
    height: 70px;
    
    background-color: whitesmoke;
}

.navbar{

    display: flex;
    background-color: #333;
    
}

.navbar a{
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover{
    background-color: #ddd;
    color:black;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-betweeen;
}

.mainContent{
    border: 1px solid black;
  flex: 80%;
  height:500px;   
}

.sideContent{
   
    border: 1px solid black;
    flex: 20%;
    height: 500px;
}

.footer{
    padding: 20px;
    height: 70px;
    text-align: center;
    background-color: whitesmoke;
}

.topnav-right{
    position:absolute;
    right: 25px;
    top:20px;
}

.welcome{
    position:absolute;
    right:180px;
    top:20px;
}

.title{
    position: absolute;
    left: 20px;
    top: 20px;
}